.container {
  display: flex;
  justify-content: center;
  gap: 42px;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
}